footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #724a4a;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 120px;
}


.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.social-links p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links p a{
    text-decoration: none;
    color: white
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 10px;
    }
    
}